@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* a {
    color: #222222;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    background: whitesmoke;
    color: #222222;
}

h1 {
    width: 100%;
}

#logout {
    margin-inline: 1rem;
}

#logout > a {
    margin-inline: 2rem;
}

#logo {
    height: 5rem;
}

#category > p {
    display: block;
    margin: 2rem;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-style: oblique;
}

#login {
    margin: 12rem 2rem;

}

header, footer {
    width: 100%;
    height: 5rem;
    background: #eed6b4;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin-top: 35rem;
}

#bottom {
    margin-right: 3rem;
}

#presentation {
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    background-color: #eed6b4;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
}

#presentation > p {
    line-height: 2.5rem;
}

header div {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-inline: 2rem;
    animation: linear;
    animation-duration: 2s;
}

li:hover {
    border-bottom: 1px solid black;
}

.fa-home {
    font-size: 2rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
    margin-left: 30rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#category {
    position: fixed;
    left: 0;
    margin-top: 7rem;
    border: 1px solid black;
    background-color: #eed6b4;
    width: 20%;
}

.container-image {
    width: 25%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
    margin-top: 4rem;
}

.container-image:hover .product-details {
    animation-name: height;
}

.container-image > div {
    width: 100%;
    height: 25rem;
    position: relative;
}

.product-images-container {
    width: 100%;
}

.product-images {
    width: 100%;
    height: 25rem;
}

.product-details {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: rgba(238, 214, 180, 0.8);
    position: absolute;
    bottom: 0;
    box-shadow: -1px 2px 10px 3px rgba(238, 214, 180, 0.7) inset;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.product-details > p {
    width: 100%;
}

#container-contact {
    margin: 0 auto;
}

#register-container, #login-container, #contact-container, #profile-container {
    margin-top: 10rem;
    width: 60%;
    border-radius: 12px;
    background: #eed6b4;
    padding: 2rem;
    min-height: 20rem;
}

#register-container #background-login {
    display: block;
    margin: 0 auto;
}

.container > #register-container {
    margin-right: 20rem;
}

#profile-container {
    margin-top: inherit;
}

#contact-container, #profile-container {
    width: 70%;
    height: 50rem;
    background-image: url("/assets/img/background/background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-login {
    width: 20%;
}

#title-profile {
    text-align: center;
    margin: 0.8rem;
}

.standards {
    font-style: italic;
}

#login-container, #contact-container {
    display: flex;
    justify-content: center;
}

#account-deletion {
    color: #d5ae77;
}

#profile-container input {
    width: 25rem;
    border-radius: 3rem;
}

label, input {
    display: block;
    margin-top: 1rem;
}

.submit-button {
    min-width: 25%;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    padding: 1rem;
    background: #d5ae77;
}

.double-input {
    width: 100%;
    display: flex;

}

.double-input > div + div {
    margin-left: 10rem;
}

#image-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    background: #eed6b4;
    height: 40rem;
}

#carousel_image {
    width: 50%;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#carousel_first {
    margin-left: 19rem;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    text-align: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 50%;
    height: 70%;
}

#image-container > div > img {
    height: 40rem;
}

#product-container {
    padding: 3rem;
    margin-top: 6rem;
    width: 70%;
    background: #eed6b4;
    min-height: 40rem;
}

#product-container > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.login_link > a {
    font-style: italic;
    color: #8d4d0c;
}

#price_name_product > p {
    width: 100%;
}

.container-embout {
    display: flex;
    margin: 3rem;
}

.container-embout > img {
    margin-inline: 1rem;
}

#product-container > div {
    display: flex;
    flex-flow: row wrap;
}

#product-container > div > div > img {
    width: 75%;
}

#product-container > div > div {
    width: 50%;
}

h2 {
    text-align: center;
}

.pink {
    background: #ffb0d6;
}

.violet {
    background: #a10684;
    color: white;
}

.skyBlue {
    background: #8ca6ff;
}

.blue {
    background: #0000ad;
    color: white;
}

.yellow {
    background: #feff57;
}

.red {
    background: #f30800;
    color: white;
}

.appleGreen {
    background: #89ff49;
}

.fushia {
    background: #ff1cd5;
}

.black {
    background: #000000;
    color: white;
}

.cyan {
    background: #0eb0e6;
}

.white {
    background: #fff;
}

.orange {
    background: #ed7f10;
}

.brown {
    background: #955628;
    color: white;
}

.green {
    background: #009f05;
}

.font-family {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
    flex-flow: column wrap;
}

#burger {
    display: none;
}

#cartContainer, .emptyCartContainer {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    background: #eed6b4;
    margin-top: 4rem;
    border-radius: 12px;
    padding: 3rem;
}

#cartContainer > div {
    width: 55%;

}
#delete_cart_product {
    margin-top: 2rem;
}

#cartContainer > div > img {
    width: 20%;
    text-align: center;
}

.emptyCartContainer {
    min-height: 40rem;
}

.emptyCartContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
}


@keyframes height {

    from {
        height: 4rem;
    }

    to {
        height: 5.5rem;

    }

}

@media screen and (max-width: 1355px) {

    #baby1 {
        width: 20%;
    }

    #card {
        width: 54%;
    }

    #baby2 {
        width: 25%;
    }

    .container-image {
        width: 30%;
    }

    #product-container {
        width: 100%;
    }


}

@media screen and (max-width: 1130px) {
    .container-image {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    #image-container > div > img {
        height: 27rem;
    }

    #image-container {
        height: 27rem;
    }

    #login-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .double-input > div + div {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 920px) {
   .container-embout {
       display: block;
   }
}

@media screen and (max-width: 970px) {
    .container-image {
        width: 50%;
    }

    #category {
        width: 30%;
    }
}

@media screen and (max-width: 865px) {
    #register-container {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #baby1 {
        width: 19%;
    }

    .swiper-slide > img {
        width: 50%;
        height: 70%;
    }

    #carousel_first {
        margin-left: 7rem;
    }

    #carousel_image {
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .product-images {
        height: 70%;
    }

    .product-details {
        position: absolute;
        bottom: 4.2rem;
    }

    .container-embout {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 690px) {
    .container-image {
        width: 50%;
    }

    .product-images {
        width: 15rem;
        height: 45%;
    }

    .container {
        margin-left: 24rem;
    }

    .container-image > div {
        height: 26rem;
    }

    #category {
        width: 40%;
    }

    .product-details {
        bottom: 10rem;
        width: 15rem;
    }
}

@media screen and (max-width: 630px) {
    .container > #register-container {
        margin-right: 16rem;
    }

    .container {
        margin-left: 22rem;
    }
}

@media screen and (max-width: 620px) {
    #image-container > div > img {
        height: 20rem;
    }

    #presentation {
        width: 80%;
    }

    #image-container {
        height: 20rem;
    }

    #category {
        width: 33%;
    }

    .container {
        margin-left: 18rem;
    }
}

@media screen and (max-width: 565px) {
    .container-image {
        width: 43%;
    }

    .container {
        margin-left: 17rem;
    }

    #contact-container {
        width: 100%;
    }

    #container-contact {
        width: 100%;
    }

    .product-images, .product-details {
        width: 12rem;
    }

    #background-login {
        width: 34%;
    }

    #category {
        width: 37%;
    }

    #category > p {
        text-align: left;
        font-weight: unset;
    }

}

@media screen and (max-width: 520px) {
     #first-input, .double-input {
        flex-direction: column;
    }


}

@media screen and (max-width: 495px) {
    header {
        height: auto;
    }

    #login-container > #background-login:last-of-type {
        display: none;
    }

    #burger {
        display: flex;
    }

    #category > p {
        font-size: 1.2rem;
    }

    .container {
        margin-left: 15rem;
    }
}

@media screen and (max-width: 485px) {
    .container {
        margin-left: 13rem;
    }
}

@media screen and (max-width: 475px) {
    .container {
        margin-left: 12rem;
    }
}

@media screen and (max-width: 450px) {
    .container > #register-container {
        margin-right: 11rem;
    }

    #image-container > div > img {
        height: 15rem;
    }

    .container-image {
        width: 49%;
    }

    .product-images, .product-details {
        width: 11rem;
    }
}

@media screen and (max-width: 421px) {
    .product-images, .product-details {
        width: 10rem;
    }


}

@media screen and (max-width: 400px) {
    #category {
        width: 32%;
    }

    .container {
        margin-left: 9rem;
    }

    #card {
        width: 53%;
    }
}

@media screen and (max-width: 395px) {
    #profile-container {
        width: 100%;
    }
}

@media screen and (max-width: 372px) {
    .container-image {
        flex-basis: content;
    }

    #category > p {
        font-size: 0.9rem;
    }
}

