html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background: whitesmoke;
    color: black;
}

header {
    width: 100%;
    height: 5rem;
    background: #eed6b4;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}




